.main-wrap {
  width: 100%;
  display: flex;
  padding: 0 100px;
  margin-top: 100px;
}

.main-tag_container{
  width: 200px;
  margin-right: 50px;
}

.main-tag_title {
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(204, 204, 204);
  color: rgb(110, 110, 110);
  font-weight: bold;
  margin-bottom: 10px;
}

.main-tag_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-tag_item {
  padding: 8px 13px;
  font-size: 18px;
  background: #e4e4e4;
  border-radius: 15px;
  margin: 3px;
  color: #333;
}

.main-article_container {
  width: calc(100% - 250px);
}

.main-article_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-article_item {
  width: calc(100% / 3 - 30px);
  min-height: 730px;
  margin: 0px 15px 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: relative;
}

.main-article_item_tag {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  font-size: 25px;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.deleteBtn {
  font-size: 18px;
  color: #666666;
  cursor: pointer;
  position: absolute;
  right: 30px;
}
.deleteBtn:hover {
  color: #000000;
}

.main-article_item_imgBox {
  height: 350px;
  background: rgb(214, 214, 214);
}
.main-article_item_imgBox > img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-article_item_nicknameAndCreated {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 13px;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.main-article_item_nickname {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.main-article_item_created {
  font-size: 13px;
  color: #666666;
  margin-top: 5px;
}

.main-article_item_titleAndContent {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 13px;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.main-article_item_title {
  font-weight: bold;
  font-size: 20px;
}
.main-article_item_content {
  
}

.main-article_item_commentBox {
  height: 160px;
  overflow-y: scroll;
  padding: 5px 13px;
}

.main-article_item_inputAndBtn {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(233, 233, 233);
}

.main-article_item_inputAndBtn > input {
  background: #ffffff;
  padding: 0 13px;
  width: calc(100% - 80px);
  height: 100%;
}

.main-article_item_inputAndBtn > button {
  width: 80px;
  height: 100%;
  background: rgb(129, 43, 43);
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.comment-text {
  background: #0c6da5;
  border-radius: 20px;
  overflow-x:hidden;
  margin-bottom: 5px;
  padding: 5px 13px;
  width: fit-content;
  color: #fff
}

/* -------------- 모바일 반응형 살짝..!! ---------------- */
@media screen and (max-width: 1700px) {
.main-wrap {
    flex-direction: column;
  }
  .main-tag_container {
    width: 100%;
    height: 250px;
  }
  .main-tag_list {
    flex-direction: row;
    flex-flow: wrap;
    padding: 20px;
  }
  .main-tag_item {
    margin-right: 10px;
  }
  .main-article_container {
    width: 100%;
  }
  .main-article_list {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-article_item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 1267px) {
  .main-article_item {
    width: 550px;
    min-width: 550px;
  }
}